<!DOCTYPE html>
<html lang="en">

  {%- include 'components/head.njk' -%}
  <body>

    {%- include 'components/topNav.njk' -%}

      {{ content | safe }}

    <footer>
      <small>&copy; {{ metadata.name }}</small>
    </footer>

    <!-- capture the JS content as a Nunjucks variable -->
    {% set js %}
      {% include "../scripts/main.js" %}
    {% endset %}
    <!-- feed it through our jsmin filter to minify -->
    <script>
      {{ js | jsmin | safe }}
    </script>

  </body>
</html>