---
layout: layouts/base.njk
stylesheet: post
---

<main class="h-entry">

<article id="{{ title | slug }}" class="e-content">

  <header class="h-card">
    <div class="author-info">
    {% for auth in metadata.author %}
      {% if auth.name == author %}
        <img src="/images/{{ auth.avatar }}?nf_resize=fit&w=72" alt="{{ auth.avatar }}'s biopic'" class="avatar">
      {% endif %}
    {% endfor %}
    <div class="publish-info">
    <address class="p-author">{{ author }}</address>
    <time class="dt-published" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
    </div>
    </div>
    <h1 class="p-name">{{ title }}</h1>
    </header>

        {{ content | safe }}

    </article>

</main>

{%- include 'components/postNav.njk' -%}