---
title: Blog Posts
layout: base.njk
pagination:
  data: collections.post
  size: 4
  reverse: true
  alias: posts
---

<section class="posts">
{% for post in posts %}
<div class="post{% if (pagination.pageNumber == 0) and (loop.index == 1) %} new{% endif %}">
  <img
    src="{{ post.url }}uploads/{{ post.data.thumbnail }}"
    alt="{{ post.data.title }}"
    class="feature"
    loading="lazy"
  />
  <div class="post-title">
  <h3>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
  </h3>
  <time datetime="{{ post.data.date | htmlDateString }}">{{ post.data.date | readableDate}}</time>
  </div>
</div>
{% endfor %}
</section>

<nav>
<div class="previous-page">
  {% if pagination.href.previous %}
  <a href="{{ pagination.href.previous }}">
  <svg
    viewBox="0 0 24 24"
    class="icon"
    role="img"
    aria-hidden="true"
    focusable="false"
  >
    <use xlink:href="/images/defs.svg#chevron_left"></use>
  </svg>Previous Page</a>
  {% else %}
  {% endif %} 
  </div>
  <div class="next-page">
  {% if pagination.href.next %}
  <a href="{{ pagination.href.next }}">Next Page <svg
    viewBox="0 0 24 24"
    class="icon"
    role="img"
    aria-hidden="true"
    focusable="false"
  >
    <use xlink:href="/images/defs.svg#chevron_right"></use>
  </svg></a>
  {% else %}
  {% endif %}
  </div>
</nav>
