:root {
  --ff: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --color: hsl(45, 90%, 52%);
  --comp: hsl(225, 0%, 97%);
  --light: hsl(0, 0%, 98%);
  --lightgray: hsl(0, 0%, 88%);
  --gray: hsl(0, 0%, 33%);
  --dark: hsl(0, 0%, 12%);
  --width: 700px;
  --border: 1px solid var(--lightgray);
  --radius: 3px;
  --shadow: 0px 4px 16px hsla(0, 10%, 5%, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --light: hsl(0, 0%, 12%);
    --lightgray: hsl(0, 0%, 28%);
    --gray: hsl(0, 0%, 67%);
    --dark: hsl(0, 0%, 98%);
    --comp: hsl(0, 0%, 10%);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: var(--width);
  justify-content: center;
  gap: 1rem;
  background: var(--comp);
  font-family: var(--ff);
  line-height: 1.3;
  color: var(--dark);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 1rem 0;
  line-height: 24px;
}

.pages a {
  padding: 0 0.5rem;
}

h1 {
  margin-block-end: 1rem;
}

h2 {
  margin-block-end: 0.5rem;
}

article h1,
h3 {
  margin-block-end: 0.25rem;
}

header {
  margin-block-end: 0.75rem;
}

article header::after {
  content: '';
  display: block;
  height: 4px;
  width: 2rem;
  background: var(--color);
  margin: 1rem 0;
}

address,
time {
  display: inline;
  font-style: normal;
}

p {
  margin-block-end: 1rem;
}

small {
  color: var(--gray);
}

li {
  padding-block-end: 1rem;
  line-height: 1.6;
}

footer {
  padding-block-end: 0.5rem;
  text-align: center;
}

a {
  color: currentColor;
  text-decoration: none;
}

.active,
a:hover {
  text-decoration: underline var(--color);
}

a[href^="http://"]::after,
a[href^="https://"]::after,
a[rel='noreferrer']::after {
  content: '↗';
  color: var(--gray);
}

img {
  display: block;
  margin: 0 auto;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

img + em {
  display: block;
  text-align: center;
  font-style: normal;
  color: var(--gray);
}

article img {
  margin-block-end: 0.5rem;
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 250px);
  gap: 1.5rem;
}

.post {
  /* border: var(--border); */
  background: var(--light);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
}

.post-title {
  padding: 1rem;
}

.post-image {
  height: 150px;
  margin-block-end: 0rem;
  border-radius: 3px 3px 0 0;
}

.featured-post {
  grid-column: 1/-1;
  display: grid;
  gap: calc(1rem - 3px);
  grid-template-columns: 2fr 1fr;
}

.featured-post img {
  margin: 0;
  border-radius: 3px 0 0 3px;
}

.card {
  margin: 1rem auto;
  padding: 1rem;
  background: var(--light);
  border: var(--border);
  border-radius: var(--radius);
}

.reply {
  margin-inline-start: 2rem;
}

.reply::before {
  content: '⤷';
  position: absolute;
  margin-block-start: -1.5rem;
  margin-inline-start: -2.5rem;
  color: var(--lightgray);
}

.list-item {
  list-style: none;
  padding: 0.5rem;
  border-radius: var(--radius);
  background: hsla(0, 0%, 70%, 0.1);
}

.list-item:nth-child(odd) {
  background: hsla(0, 0%, 85%, 0.1);
}

.tag {
  padding: 0.25rem;
  margin: 0.25rem 0;
  color: var(--gray);
  background: var(--light);
  border-radius: var(--radius);
  font-size: small;
  box-decoration-break: clone;
}

.tag:hover {
  text-decoration: none;
  color: var(--dark);
}

/* svg logo / tint icon */
.logo {
  fill: var(--color);
  display: inline-block;
  vertical-align: top;
  height: 1.5rem;
}

.btn {
  display: inline-block;
  cursor: pointer;
  margin: 0.5rem 0;
  padding: 0.25rem 0.75rem;
  border: var(--border);
  border-radius: var(--radius);
  background: var(--comp);
  color: var(--dark);
  text-decoration: none;
}

blockquote {
  margin: 1rem 0;
  padding: 0 1rem;
  border-inline-start: 2px solid var(--color);
}

form {
  display: block;
  margin: 1rem auto;
  padding: 1rem 0;
  max-width: 450px;
}

input[type='submit'] {
  color: currentColor;
  background: var(--light);
  cursor: pointer;
}

input,
textarea {
  width: 100%;
  margin: 0.5rem 0 1rem 0;
  padding: 0.5rem;
  border: var(--border);
  border-radius: var(--radius);
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--color);
}

textarea {
  resize: vertical;
}

::placeholder {
  color: var(--gray);
}

@media screen and (max-width: 700px) {
  body {
    margin: 1rem;
  }
  nav {
    font-size: 80%;
  }
  article img {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
  }
  .featured-post,
  .posts {
    display: block;
  }
  .post {
    margin-block-end: 1rem;
  }
  .post-image {
    height: 200px;
  }
}
