<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ metadata.title }}</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta name="description" content="{{ metadata.description }}">
    <meta
      name="keywords"
      content="Itai, Eden, Axelrad, Climbing, Bouldering, California, Colorado, blog, post, twins"
    />
    <meta name="theme-color" content="#66aacc" />
    <!-- iOS PWA -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="blog" />
    <link href="images/icon.png" rel="apple-touch-startup-image" />
    <link href="images/icon.png" rel="apple-touch-icon" />
    <link href="images/icon.png" rel="icon" type="image/png" />
    <link
      href="manifest.json"
      rel="manifest"
      type="application/json"
      crossorigin="use-credentials"
    />
    <link href="/styles/main.css" rel="stylesheet" type="text/css" />
    
  </head>
  <body>
    <nav class="menu">
        <svg 
          class="logo"
          viewBox="0 0 24 24"
          aria-hidden="true"
          focusable="false"
        >
          <use xlink:href="/images/defs.svg#logo"></use>
        </svg>
      <a href="/" class="home">{{ metadata.title }}</a>
      <a href='/pages/about'>About</a>
      <a href='/pages/archive'>Archive</a>
      <a href='/pages/contact'>Contact</a>
    </nav>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      <small>&copy; {{ metadata.title }}</small>
    </footer>
  </body>
</html>