---
title: About
stylesheet: post
permalink: /{{ title | lower }}/
---

<main>

<article id="{{ title }}">
<h1>{{ title }}</h1>
  <section>
    <img src="/images/BioPic1.jpg?nf_resize=fit&w=1200" alt="biopic of us 1" loading="lazy">
    <hr>
    <h2>Our Story</h2>
    <p>We are Los Angeles based identical twin brothers Eden and Itai. We started climbing in 2005 and never looked back. Since then, we have enjoyed the many climbing destinations that the country has to offer. Some of our favorites include Yosemite, Bishop, Black Mountain, and RMNP.</p>

    <p>We are both recent graduates from UCLA master's programs, where <a href="https://www.edenaxelrad.com" rel="noreferrer">Eden</a> studied environmental health sciences and <a href="https://www.itaiaxelrad.com" rel="noreferrer">Itai</a> studied civil & environmental engineering. Although we both work full-time, we still manage to find a little time to climb.</p>

    <p>Hope to see you out there!</p>
  </section>

  <section>
    <img src="/images/BioPic2.jpg?nf_resize=fit&w=1200" alt="biopic of us 2" loading="lazy">
    <hr>
    <h2>What We Have to Offer</h2>

    <p>Over our extensive climbing careers, we have accumulated a set of valuable skills and experiences. We understand that learning is a continuous process, and we strive to expand on this every day.</p>

    <h3>3</h3>
    <p>We have each made three bouldering national competition appearances, including a team US top-four finish.</p>

    <h3>6</h3>
    <p>We offer a combined six years of boulder and route setting experience across the many gyms that California and Colorado have to offer. This includes both Collegiate and National Cup Series competitions.</p>

    <h3>30</h3>
    <p>As a team, we have been climbing for a combined thirty years! This experience is irreplaceable and provides a foundation for our future climbing goals.</p>

    <h3>40</h3>
    <p>We have traveled to over forty different outdoor climbing locations worldwide. Exploring new crags feeds our sense of adventure, so we are always looking to discover new climbing areas.</p>

    <h3>150</h3>
    <p>We have climbed well over one hundred and fifty unique double-digit boulder problems ranging from V10 up to V14. This base allows us to push our limit in terms of difficult bouldering. (Check out our loogbooks at <a href="veleven.us">vEleven</a> for a full list of climbs.)</p>

  </section>

  <section>
    <img src="/images/BioPic3.jpg?nf_resize=fit&w=1200" alt="biopic of us 3" loading="lazy">
    <hr>
    <h2>A Coach's Perspective</h2>
    <blockquote>A couple of my old proteges, Eden and Itai Axelrad, still climbing for the pure love of climbing. Best moment in a teacher’s life is the moment your students surpass you. With these two, I remember the day fondly.</blockquote>
    <cite>- Taylor Reed</cite>
  </section>

</article>
</main>