---
title: Contact
stylesheet: contact
permalink: /{{ title | lower }}/
---
<section>
  <h1>{{ title }}</h1>
  <p>Got a question or comment? Get in touch!</p>
  <form name="contact" method="POST" data-netlify="true" netlify-honeypot="bot-field" class="form-contact">
    <div hidden aria-hidden="true">
      <label>
        Don’t fill this out if you're human: 
        <input name="bot-field" />
      </label>
    </div>
    <label for="email">Email</label>
    <input
    id="email"
    type="email"
    name="email"
    placeholder="your@email.com"
    required
/>
    <label for="subject">Subject</label>
    <input
    id="subject"
    type="text"
    name="subject"
    placeholder="Subject"
    required
/>
    <label for="message">Message</label>
    <textarea
    id="message"
    name="message"
    placeholder="Gamba, gamba!"
    required
  ></textarea>
    <input type="submit"/>
  </form>
</section>
<section>
  <h2>Comments</h2>
  {%- for comment in comments.comments | reverse %}
    <div class="card">
      <h4>{{ comment.subject }}</h4>
      <small>{{ comment.author }} commented on  <time datetime="{{ comment.date }}">{{ comment.date }}</time></small>
      <blockquote>{{ comment.body }}</blockquote>
    </div>
    {%- if comment.replies. author %}
      <div class="card reply">
        <small>{{ comment.replies.author }} replied on <time datetime="{{ comment.replies.date }}">{{ comment.replies.date }}</time></small>
        <blockquote>{{ comment.replies.body }}</blockquote>
      </div>
    {%- endif %}
  {%- endfor %}
</section>