---
permalink: "{{ metadata.feed.path }}"
layout: null
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	{% set absoluteUrl %}{{ metadata.feed.path | url | absoluteUrl(metadata.start_url) }}{% endset %}
	<title>{{ metadata.name }}</title>
  <icon>{{ absoluteUrl }}/images/logo.svg</icon>
  <logo>{{ absoluteUrl }}/images/logo.svg</logo>
	<link href="{{ absoluteUrl }}" rel="self"/>
	<link href="{{ metadata.start_url }}"/>
	<updated>{{ collections.post | getNewestCollectionItemDate }}</updated>
	<id>{{ metadata.feed.id }}</id>
	{%- for post in collections.post | reverse %}
	{% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.start_url) }}{% endset %}
	<entry>
		<title>{{ post.data.title }}</title>
		<link href="{{ absolutePostUrl }}"/>
		<updated>{{ post.date | dateToRfc3339 }}</updated>
		<id>{{ absolutePostUrl }}</id>
		<content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
	</entry>
	{%- endfor %}
</feed>