---
title: Home
layout: base.njk
eleventyExcludeFromCollections: true
permalink: index.html
---
<div class="posts">
  {%- include 'featuredPost.njk' -%}
  {%- set posts = collections.post | reverse -%}
  {%- for post in posts.slice(1, 3) -%}
    {%- include 'postCard.njk' -%}
  {%- endfor -%}
</div>
<nav class="pageNav">
  <div class="previous-page"></div>
  <div class="next-page">
    <a href="/page/1">Older Posts &rarr;</a>
  </div>
</nav>