---
title: Logbook
permalink: /{{ title | lower }}/
eleventyExcludeFromCollections: true
---

<main id="{{ title }}">

<div class="container">
  <canvas id="myChart"></canvas>
</div>

<table>
  <caption>Itai's {{ title }}</caption>
    <thead>
        <tr>
          <th>Route</th>
          <th>Crag</th>
          <th>Date</th>
          <th>Comment</th>
        </tr>
    </thead>
    <tbody>
    {% set currentGrade = "" %}
    {% for boulder in logbook.boulders %}
    {% set boulderGrade = boulder.grade %}
    {% if currentGrade != boulderGrade %}
        {% set currentGrade = boulderGrade %}
        <tr><th class="grade-header" colspan="4" data-grade="{{ boulderGrade }}">{{ boulderGrade }}</th></tr>
        {% endif %}
        <tr>
            <td>{{ boulder.route }}</td>
            <td>{{ boulder.crag }}</td>
            <td>{{ boulder.date }}</td>
            <td>{{ boulder.comment }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="../includes/scripts/chart.js" defer ></script>