---
title: Logbook
stylesheet: logbook
permalink: /{{ title | lower }}/
eleventyExcludeFromCollections: true
---

<main id="{{ title }}">

<div class="chart-container">
  <canvas id="gradeChart"></canvas>
</div>

<div class="chart-container">
  <canvas id="yearChart"></canvas>
</div>

<table>
  <caption>{{ title }}</caption>
    <thead>
        <tr>
          <th id="route">Route</th>
          <th id="crag">Crag</th>
          <th id="date">Date</th>
          <th id="comment">Comment</th>
        </tr>
    </thead>
    <tbody>
    {% set currentGrade = "" %}
    {% for boulder in logbook.boulders %}
    {% set boulderGrade = boulder.grade %}
    {% if currentGrade != boulderGrade %}
        {% set currentGrade = boulderGrade %}
        <tr class="grade-header"><th colspan="4" data-grade="{{ boulderGrade }}">{{ boulderGrade }}</th></tr>
        {% endif %}
        <tr class="{{ boulder.style }}">
            <td headers="route">{{ boulder.route }}</td>
            <td headers="crag">{{ boulder.crag }}
            {% if boulder.sector %}
            / {{ boulder.sector }}
            {% endif %}
            </td>
            <td headers="date">{{ boulder.date }}</td>
            <td headers="comment">{{ boulder.comment }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="../includes/scripts/chart.js" defer ></script>