---
title: Pages
layout: layouts/base.njk
permalink: page/{{ pagination.pageNumber + 1}}/
eleventyExcludeFromCollections: true
pagination:
  data: collections.pagedPosts
  size: 4
  alias: posts
---

<main class="posts">

  {% for post in posts %}

    <a href="{{ post.url }}" class="post" aria-label="{{ post.data.title }}">
      <img
        src="{{ post.url }}uploads/{{ post.data.thumbnail }}"
        alt="{{ post.data.title }}"
        class="post-image"
        loading="lazy"
      />
      <div class="post-info">
        <h4 class="post-title">{{ post.data.title }}</h4>
          <time datetime="{{ post.data.date | htmlDateString }}" class="subtitle">{{ post.data.date | readableDate}}</time>
      </div>
    </a>

  {% endfor %}

</main>

{%- include 'components/pageNav.njk' -%}