---
title: Pages
layout: base.njk
permalink: page/{{ pagination.pageNumber + 1}}/
eleventyExcludeFromCollections: true
pagination:
  data: collections.pagedPosts
  size: 4
  alias: posts
---

<main class="posts">

  {% for post in posts %}
    {%- include 'postCard.njk' -%}
  {% endfor %}

</main>

{%- include 'pageNav.njk' -%}