---
title: Posts
stylesheet: taglist
permalink: /{{ title | lower }}/
---

<main class="archive">

  <h1>{{ title }}</h1>
  <noscript>
    <p>JavaScript must be enabled to use the search function</p>
  </noscript>
  <div class="search-container">
    <label for="search">Search</label>
    <input
      type="text"
      id="search"
      class="search"
      placeholder="find a post"
    />
  </div>
  {# <p>Search <a href="/tags">all tags</a></p> #}

  {# use group by, see OpenSpec #}
  <ol id="results" class="post-list" reversed >
    {% set currentYear = "" %}
    {%- set posts = collections.post | reverse -%}
    {%- for post in posts.slice(0, 15) -%}
        {% set postYear = post.date.getFullYear() %}
        {% if currentYear != postYear %}
          {% set currentYear = postYear %}
          <h2 id="{{ postYear }}" class="list-header">{{ postYear }}</h2>
        {% endif %}
      {% include 'components/listItem.njk' %}
    {% endfor %}
    </ol>
    
    <div class="center">
      <button id="loadAll" class="btn">Load More</button>
    </div>
  {# <div class="archive-container">
  <aside>
    <div class="nav-aside">
      <h2>Year</h2>
      {% set currentYear = "" %}
      <ol>
          {% for post in collections.post | reverse %}
              {% set postYear = post.date.getFullYear() %}
              {% if currentYear != postYear %}
                {% set currentYear = postYear %}
                <li><a href="#{{ postYear }}" class="list-header-link">{{ postYear }}</a></li>
              {% endif %}
          {% endfor %}
      </ol>
    </div>
  </aside>
  </div> #}

</main>
<script src="../includes/scripts/search.js" defer ></script>