---
pagination:
  data: collections
  size: 1
  alias: tag
  filter: [ 'all', 'post', 'posts', 'pages', 'blog', 'tagList', 'Eden', 'Itai', 'Axelrad', 'Climbing', 'Bouldering', 'Five', 'ten', 'Five Ten', 'fiveten' ]
  addAllPagesToCollections: true
stylesheet: taglist
eleventyComputed:
  title: Posts Tagged '{{ tag }}'
permalink: /tags/{{ tag | replace("'", "") | slug | url }}/
---
<main>

<h1>{{ title }}</h1>
  <p>Search <a href="/tags">all tags</a></p>
  
  <div class="archive-container">

  <ol class="post-list" reversed >
    {% set currentYear = "" %}
    {% set taglist = collections[tag] %}
    {% for post in taglist | reverse %}
        {% set postYear = post.date.getFullYear() %}
        {% if currentYear != postYear %}
        {% set currentYear = postYear %}
        <h2 id="{{ postYear }}" class="list-header">{{ postYear }}</h2>
        {% endif %}
      {% include '/listItem.njk' %}
    {% endfor %}
    </ol>
  <aside>
    <div class="nav-aside">
      <h2>Year</h2>
      {% set currentYear = "" %}
      <ol>
        {% for post in taglist | reverse %}
        {% set postYear = post.date.getFullYear() %}
          {% if currentYear != postYear %}
            {% set currentYear = postYear %}
            <li><a href="#{{ postYear }}" class="list-header-link">{{ postYear }}</a></li>
          {% endif %}
        {% endfor %}
      </ol>
    </div>
  </aside>
  
  </div>

  </main>

<script src="/assets/scripts/observer.js" defer ></script>