<nav class="pageNav">
  <div class="previous-page">
    {%- if pagination.href.previous %}
      <a href="{{ pagination.href.previous }}">&larr; Newer Posts</a>
    {%- else %}
      <a href="/">&larr; Newer Posts</a>
    {%- endif %}
  </div>
  <div class="next-page">
    {%- if pagination.href.next %}
      <a href="{{ pagination.href.next }}">Older Posts &rarr;</a>
    {%- else %}
    {%- endif %}
  </div>
</nav>