<nav class="topNav">
  <div class="flex">
    <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="logo icon icon-tabler icons-tabler-outline icon-tabler-mountain">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M3 20h18l-6.921 -14.612a2.3 2.3 0 0 0 -4.158 0l-6.921 14.612z" />
      <path d="M7.5 11l2 2.5l2.5 -2.5l2 3l2.5 -2" />
    </svg>
    <a href="/" class="home-link"><strong>axelrad</strong> <span style="font-weight: 200">climbing</span></a>
  </div>
  <div id="navlinks" class="flex closed" role="navigation" aria-expanded="false">
    {%- for entry in collections.pages -%}
      <a href="{{ entry.url | url }}" {% if page.url == entry.url %} class="current" aria-current="page" {% endif %}>{{ entry.data.title }}</a>
    {%- endfor -%}
    <a id="rss" name="rss feed link" class='btn btn-icon' href="/feed.xml">
      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-rss">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
        <path d="M4 4a16 16 0 0 1 16 16" /><path d="M4 11a9 9 0 0 1 9 9" />
      </svg>
    </a>
  </div>
  <!--hamburger menu button -->
  <button type="button" id="menuBtn" class="button menu reset" aria-label="menu">
    <svg
      viewBox="0 0 448 512"
      id="menuSvg"
      class="icon menu"
      role="img"
      aria-hidden="false"
      focusable="true"
    >
      <use xlink:href="/images/defs.svg#bars"></use>
    </svg>
  </button>
</nav>