<nav class="topNav">
  <div class="home">
  <svg
      class="logo icon"
      viewBox="0 0 640 512"
      aria-hidden="true"
      focusable="false"
    >
      <use xlink:href="/images/defs.svg#logo"></use>
  </svg>
      <a href="/" class="home-link"><strong>axelrad</strong> <span style="font-weight: 200">climbing</span></a>
  </div>
  <div id="navlinks" class="pages closed" role="navigation" aria-expanded="false">
    {%- for entry in collections.pages -%}
      <a href="{{ entry.url | url }}" {% if page.url == entry.url %} aria-current="page" {% endif %}>{{ entry.data.title }}</a>
    {%- endfor -%}
  </div>
  <!--hamburger menu button -->
  <button type="button" id="menuBtn" class="button menu reset" aria-label="menu">
    <svg
      viewBox="0 0 448 512"
      id="menuSvg"
      class="icon menu"
      role="img"
      aria-hidden="false"
      focusable="true"
    >
      <use xlink:href="/images/defs.svg#bars"></use>
    </svg>
  </button>
</nav>