{%- set featuredPost = collections.post | last -%}
<div class="post featured-post">
  <img
    src="{{ featuredPost.url }}uploads/{{ featuredPost.data.thumbnail }}"
    alt="{{ featuredPost.data.title }}"
    class="featured-image"
    loading="lazy"
/>
  <div class="post-title">
    <h3>
      <a href="{{ featuredPost.url }}">{{ featuredPost.data.title }}</a>
    </h3>
    <small><time datetime="{{ featuredPost.data.date | htmlDateString }}">{{ featuredPost.data.date | readableDate}}</time></small>
    <br>―
    {{- featuredPost.templateContent | truncate(70, true, "...") | safe -}}
    <br><br>
    <a href="{{ featuredPost.url }}" class="btn">read more <svg
          class="icon"
          viewBox="0 0 24 24"
          aria-hidden="true"
          focusable="false"
        >
          <use xlink:href="/images/defs.svg#chevron_right"></use>
  </svg></a>
  </div>
</div>