<li class="list-item h-card">
      <h4>
            <a href="{{ post.url | url}}" class="p-name">{{ post.data.title }}</a>
      </h4>
      <small>
            {{- loop.length - loop.index0 }} &bull;
      <time datetime="{{ post.data.date | htmlDateString }}" class="dt-published">{{ post.data.date | readableDate}}</time> &bull; 
      <address class="p-author">{{ post.data.author }}</address>
            {%- if post.data.location %} &bull; <span class="p-location">{{ post.data.location }}</span>
            {%- endif %}
      </small>
      <br>
      {%- set tagList = post.data.tags | excludeTags -%}
      {%- for tag in tagList %}
            <a href="/tags/{{ tag | replace("'", "") | slug | url }}" class="tag p-category" rel="tag">{{ tag }}</a>
      {%- endfor %}
</li>