<nav class="topNav">
  <div class="home">
          <svg 
            class="logo"
            viewBox="0 0 24 24"
            aria-hidden="true"
            focusable="false"
          >
            <use xlink:href="/images/defs.svg#logo"></use>
          </svg>
        <strong><a href="/">{{ metadata.title }}</a></strong>
  </div>
  <div class="pages">
        {%- for entry in collections.pages -%}
        <a href="{{ entry.url | url }}" {% if page.url == entry.url %} class="active" {% endif %}>{{ entry.data.title }}</a>
        {%- endfor -%}
  </div>
</nav>