---
title: 404
permalink: /{{ title }}.html
eleventyExcludeFromCollections: true
---
<style>
main {
  height: 50vh;
  text-align: center;
  border-bottom: 1px solid var(--lightgray)
}
</style>
<p>
  Page Not Found <br>
  <a href="{{ '/' | url }}">Go back</a>
</p>