---
title: Archive
layout: base.njk
tags: pages
permalink: /archive/
---

<h1>{{ title }}</h1>

<ol reversed >
  {%- for post in collections.post | reverse -%}
    <li>
      <strong><a href="{{ post.url | url}}">{{ post.data.title }}</a></strong> &bull; 
      <time datetime="{{ post.data.date | htmlDateString }}">{{ post.data.date | readableDate}}</time> &bull; 
      <address>{{ post.data.author }}</address>
      <br>
      {% for tag in post.data.tags %}
      <a href="/tags/{{ tag }}" class="tag">{{ tag }}</a>
      {% endfor %}
    </li>
  {%- endfor -%}
</ol>