---
title: Pages
layout: layouts/base.njk
permalink: /Page{{ pagination.pageNumber + 1}}/
eleventyExcludeFromCollections: true
pagination:
  data: collections.pagedPosts
  size: 6
  alias: posts
---

<section class="posts">

  {% for post in posts %}

    <div class="post">
    <a href="{{ post.url }}">
      <img
    src="{{ post.url }}uploads/{{ post.data.thumbnail }}"
    alt="{{ post.data.title }}"
    class="post-image"
    loading="lazy"
/>
      <div class="post-title">
        <h4>{{ post.data.title }}</h4>
        <small>
          <time datetime="{{ post.data.date | htmlDateString }}">{{ post.data.date | readableDate}}</time>
        </small>
      </div>
    </a>
    </div>

  {% endfor %}

</section>

{%- include 'components/pageNav.njk' -%}