---
layout: page.njk
tags: pages
pagination:
  data: collections
  size: 1
  alias: tag
  filter: [ 'all', 'post', 'posts', 'pages', 'tagList', 'Eden', 'Itai', 'Axelrad', 'Climbing', 'Bouldering' ]
  addAllPagesToCollections: true
permalink: /tags/{{ tag | replace("'", "") | slug | url }}/
renderData:
  title: Tagged “{{ tag }}”
---

<h1>Posts Tagged “{{ tag }}”</h1>

<ol reversed >
{% set taglist = collections[ tag ] %}
{% for post in taglist | reverse %}
{% include 'listItem.njk' %}
{% endfor %}
</ol>