.list-item {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  align-items: center;
  gap: 0 1.5rem;
}

.list-header {
  margin-block-start: 1.5rem;
  font-size: 130%;
}

time.dt-published {
  font-family: var(--ff-mono);
}

li .p-name {
  display: block;
  padding-inline-end: 0.25rem;
  text-decoration: none;
}

li .p-name:hover {
  text-decoration: underline;
  text-decoration-color: var(--theme);
}

.tag {
  display: inline-block;
  margin: 0.15rem 0;
  padding: 0.2rem 0.5rem;
  color: var(--dark-gray);
  background: var(--light-gray);
  border-radius: var(--radius);
  font-size: small;
  text-decoration: none;
  box-decoration-break: clone;
}

.tag:hover {
  color: var(--dark);
  background: var(--light);
}

.taglist {
  grid-column: 2;
}

.archive-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1.5rem
}

.nav-aside {
  position: sticky;
  top: 1.5rem;
  margin: 0.5rem 0;
  padding: 1rem;
  background: var(--light-gray);
  border-radius: var(--radius);
}

.nav-aside li {
 list-style: none;
 line-height: 1;
}

.nav-aside a {
  padding: 0.2rem 0.5rem;
  text-decoration: none;
  border-radius: var(--radius);
  color: var(--dark-gray);
  transition: .3s ease-out;
}

.nav-aside a:hover,
a.active {
  font-weight: bold;
  color: var(--dark);
  background: var(--light);
}