---
title: Posts
layout: null
permalink: data/posts.json
eleventyExcludeFromCollections: true
---

[
  {%- for post in collections.post %}
  { 
    "title": "{{post.data.title}}",
    "date": {
     "full": "{{post.data.date}}",
     "readableDate": "{{post.data.date|readableDate}}",
     "htmlDateString": "{{post.data.date|htmlDateString}}",
     "monthDay": "{{post.data.date|monthDay}}",
     "year": "{{post.data.date.getFullYear()}}"
      },
    "update": "{{post.data.update|htmlDateString}}",
    "author": "{{post.data.author}}",
    "location": "{{post.data.location}}",
    "thumbnail": "{{post.data.thumbnail}}",
    "url": "{{post.url}}",
    "tags": [
      {%- for tag in post.data.tags | excludeTags -%}
        "{{tag}}"{{ '' if loop.last else ',' }}
      {%- endfor -%}
    ]
  }{{ '' if loop.last else ',' }}
  {%- endfor %}
]