@media screen and (min-width: 1500px) {
  .posts {
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-template-rows: repeat(2, 350px);
  }
  .post-image {
    height: 275px;
  }
  .featured-post img {
    height: 350px;
  }
}

/* tablet styles  */
@media screen and (max-width: 748px) {
  body {
    padding: 0.75rem;
  }
  nav {
    padding: 0.5rem;
  }
  .caption p {
    -webkit-line-clamp: 4;
  }
  article {
    padding: 0.25rem;
  }
  article figure {
    position: relative;
    left: 50%;
    max-width: 100vw;
    margin-left: -50vw;
  }
  li {
    line-height: unset;
  }
}
/* mobile styles  */
@media screen and (max-width: 600px) {
  .nav-aside {
    display: none;
  }
  .posts {
    grid-template-columns: 1fr;
  }
  .featured-post {
    display: block;
  }
  .featured-post img {
    border-radius: var(--radius) var(--radius) 0 0;
  }
  .caption p {
    -webkit-line-clamp: 3;
  }
  .menu {
    display: inline-block;
  }
  .pages {
    display: flex;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    background: var(--gray);
    flex-wrap: wrap;
    z-index: 100;
  }
  .pages a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    font-size: large;
  }
  .closed {
    visibility: hidden;
    display: none;
  }
  .open {
    visibility: visible;
    display: block;
  }
}
