<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ metadata.title }}</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
/>
    <meta name="description" content="{{ metadata.description }}">
    <meta
      name="keywords"
      content="Itai, Eden, Axelrad, Climbing, Bouldering, California, Colorado, blog, post, twins"
/>
    <meta name="theme-color" content="#ffffff"/>
    <!-- iOS PWA -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="default"/>
    <meta name="apple-mobile-web-app-title" content="blog"/>

    <!-- link preview -->
    {%- include 'components/linkPreview.njk' -%}

    <!-- favicons -->
    <link href="/images/icon.png" rel="apple-touch-startup-image"/>
    <link href="/images/icon.png" rel="apple-touch-icon"/>
    <link href="/images/icon.png" rel="icon" type="image/png"/>

    <link href="https://fonts.gstatic.com/" rel="preconnect" crossorigin="">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;display=swap" rel="stylesheet">

    <link href="/styles/main.css" rel="stylesheet" type="text/css"/>

    <link
      href="/manifest.json"
      rel="manifest"
      type="application/json"
      crossorigin="use-credentials"
/>
    <script>
      // register a service worker
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator
            .serviceWorker
            .register('/sw.js') // register a service worker
            .then(reg => console.log('Service Worker: Registered')) // Registration was successful
            .catch(err => console.log(`Service Worker: ${err}`)); // Registration error
        });
      };
    </script>
  </head>
  <body>

    {%- include 'components/topNav.njk' -%}

    <main>
      {{ content | safe }}
    </main>

    <footer>
      <small>&copy; {{ metadata.title }}</small>
    </footer>

  </body>
</html>