---
layout: layouts/base.njk
---

<article id="{{ title | slug }}">

<header>
  <h1>{{ title }}</h1>
  <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time> by <address>{{ author }}<address>
</header>

{{ content | safe}}

</article>

{% include 'components/postNav.njk' %}