<!DOCTYPE html>
<html lang="en">
  {%- include 'head.njk' -%}
  <body class="flex-column">
    {%- include 'topNav.njk' -%}
    <main>
      {{ content | safe }}
    </main>
    {%- include 'footer.njk' -%}
    <!-- capture the JS content as a Nunjucks variable -->
    {% set js %}
      {% include "../assets/scripts/main.js" %}
    {% endset %}
    <!-- feed it through our jsmin filter to minify -->
    <script>
      {{ js | jsmin | safe }}
    </script>
  </body>
</html>