:root {
  --ff: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --color: hsl(45, 90%, 50%);
  --light: hsl(0, 0%, 98%);
  --gray: hsl(0, 0%, 33%);
  --dark: hsl(0, 0%, 12%);
  --width: 860px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --light: hsl(0, 0%, 12%);
    --gray: hsl(0, 0%, 67%);
    --dark: hsl(0, 0%, 98%);
  }
  .post {
    border: 1px solid var(--color);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: var(--width);
  margin: 1rem auto;
  background: var(--light);
  font-family: var(--ff);
  color: var(--dark);
}

main {
  margin: 1rem auto;
}

article {
  max-width: 724px;
  margin: 1rem auto;
}

img {
  max-width: 724px;
}

.feature {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0;
}

.menu a {
  padding-left: 1rem;
}

nav a:first-of-type {
  margin-right: auto;
}

a {
  text-decoration: none;
  padding-inline-end: 0.25rem;
  color: currentColor;
}

a:hover {
  text-decoration: underline var(--color);
}

h1,
h2,
h3 {
  margin-block-end: 0.25rem;
}

header {
  margin-block-end: 1rem;
}

time {
  color: var(--gray);
}

p {
  margin-bottom: 1rem;
}

footer {
  padding: 1rem;
  text-align: center;
}

li {
  list-style-position: inside;
  padding: 0.15rem 0;
}

li time::before {
  content: '- ';
}

.posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.post {
  background: var(--light);
  box-shadow: 0px 0px 25px hsla(0 0% 20% / 0.1);
  border-radius: 5px;
}

.post-title {
  padding: 0.5rem 0.5rem 1rem 1rem;
}

.home {
  font-weight: bold;
}

/* svg logo / tint icon */
.icon {
  fill: currentColor;
  display: inline-block;
  height: 1rem;
}

.logo {
  fill: currentColor;
  display: inline-block;
  transform: translateY(-2px);
  height: 1.5rem;
}

.btn {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  color: currentColor;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  display: block;
}

input,
textarea {
  width: 100%;
  margin: 0.5rem 0 1rem 0;
  padding: 0.5rem;
  color: currentColor;
  background: var(--clr-light);
  border: 1px solid var(--gray);
  border-radius: 5px;
}

input:focus,
textarea:focus {
  border-color: var(--dark);
}

textarea {
  resize: vertical;
}
