{%- set featuredPost = collections.post | last -%}
<div class="post featured-post">
<a href="{{ featuredPost.url }}">
  <img
    src="{{ featuredPost.url }}/{{ featuredPost.data.thumbnail }}?nf_resize=fit&h=550"
    width="348" height="275"
    alt="{{ featuredPost.data.title }}"
    class="featured-image"
    loading="lazy"
/>
</a>
  <div class="post-info">
  <time datetime="{{ featuredPost.data.date | htmlDateString }}" class="subtitle">{{ featuredPost.data.date | readableDate}}</time>
    <a href="{{ featuredPost.url }}"><h3 class="featured-post-title">{{ featuredPost.data.title }}</h3></a>

    <div class="caption">{{- featuredPost.templateContent | truncate(180, true, "...") | safe -}}</div>

    <a href="{{ featuredPost.url }}" class="read-more btn">read more 
      <span class="visually-hidden">about {{ featuredPost.data.title }}</span>
      <svg
            class="icon"
            viewBox="0 0 24 24"
            aria-hidden="true"
            focusable="false"
          >
            <use xlink:href="/images/defs.svg#chevron_right"></use>
      </svg>
    </a>

  </div>
</div>