{%- set featuredPost = collections.post | last -%}
<div class="post featured-post">
<a href="{{ featuredPost.url }}">
  <img
    src="{{ featuredPost.url }}uploads/{{ featuredPost.data.thumbnail }}"
    alt="{{ featuredPost.data.title }}"
    class="featured-image"
    loading="lazy"
/>
</a>
  <div class="post-title">
  <small class="block"><time datetime="{{ featuredPost.data.date | htmlDateString }}">{{ featuredPost.data.date | readableDate}}</time></small>
    <a href="{{ featuredPost.url }}"><h3>{{ featuredPost.data.title }}</h3></a>
    {{- featuredPost.templateContent | truncate(100, true, "...") | safe -}}
    
    <p>
    <a href="{{ featuredPost.url }}" class="read-more btn">read more <span class="visually-hidden">about {{ featuredPost.data.title }}</span>
    <svg
          class="icon"
          viewBox="0 0 24 24"
          aria-hidden="true"
          focusable="false"
        >
          <use xlink:href="/images/defs.svg#chevron_right"></use>
    </svg>
    </a>
  </p>
  
  </div>
</div>