<nav class="pageNav">
  <div class="previous-page">
    {%- if pagination.href.previous %}
      <a href="{{ pagination.href.previous }}">
        <svg
          class="icon"
          viewBox="0 0 24 24"
          aria-hidden="true"
          focusable="false"
        >
          <use xlink:href="/images/defs.svg#chevron_left"></use>
  </svg> Newer Posts</a>
    {%- else %}
      <a href="/">
  <svg
          class="icon"
          viewBox="0 0 24 24"
          aria-hidden="true"
          focusable="false"
        >
          <use xlink:href="/images/defs.svg#chevron_left"></use>
  </svg> Newer Posts</a>
    {%- endif %}
  </div>
  <div class="next-page">
    {%- if pagination.href.next %}
      <a href="{{ pagination.href.next }}">Older Posts <svg
          class="icon"
          viewBox="0 0 24 24"
          aria-hidden="true"
          focusable="false"
        >
          <use xlink:href="/images/defs.svg#chevron_right"></use>
  </svg>
  </a>
      {%- else %}
      {%- endif %}
    </div>
  </nav>