---
title: Pages
layout: base.njk
permalink: posts?page={{ pagination.pageNumber + 1}}/
eleventyExcludeFromCollections: true
pagination:
  data: collections.pagedPosts
  size: 4
  alias: posts
---
<div class="posts">
  {% for post in posts %}
    {%- include 'postCard.njk' -%}
  {% endfor %}
</div>
{%- include 'pageNav.njk' -%}